@model BookEWebsite.Models.Artist

@{
    ViewData["Title"] = "Artist Openings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col">
        <h1><i>Group: </i></h1>
        <h1>@Model.GroupName </h1>
        <h4>(@Model.FirstName @Model.LastName)</h4>
    </div>
    <div class="col">
        <br />
        <h3><i>Located in:</i></h3>
        <h4>@Model.Address.City, @Model.Address.State</h4>
    </div>
    <div  class="col">
        <br />
        <div class="row">
            <h3><i>Specialization: </i>@Model.Specialization</h3>
        </div>
        <div class="row">
            <h3><i>Group Size:</i>@Model.SizeOfGroup</h3>
        </div>
    </div>
    <div class="col">
        <h3><i>Costs:</i></h3>
        <h4>Daily - <b>$@Model.HourlyCost</b>/hr</h4>
        <h4>Weekend - <b>$@Model.WeekendHourlyCost</b>/hr</h4>
    </div>
</div>
<h4>
    @if (DateTime.Now.Equals(Model.DayToCheck.Value))
    {
        @: Today's Availability! :
    }
    else
    {
        @: Availability for :
    }
    @Model.DayToCheck.Value.DayOfWeek, @Model.DayToCheck.Value.ToShortDateString()
</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ArtistOpeningsNewDate">
            <input type="hidden" asp-for="@Model.Id" />
            <label for="search-date">Search Date</label>
            <input type="date" id="search-date" asp-for="DayToCheck" value="@Model.DayToCheck.Value.ToShortDateString()">
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <h6 style="color:red">@ViewBag.Error</h6>
        <form asp-action="BookTime">
            <input type="hidden" asp-for="@Model.Id" />
            <input type="hidden" asp-for="@Model.DayToCheck" />
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" asp-format="{0:hh:mm tt}" value="@Model.DayToCheck" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" asp-format="{0:hh:mm tt}" value="@Model.DayToCheck" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Book Time" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <hr />
    @if (ViewBag.ArtistAvailabilities.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        StartTime
                    </th>
                    <th>
                        EndTime
                    </th>
                    <th>
                        DayOfWeek
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (ArtistAvailability aAvailability in ViewBag.ArtistAvailabilities)
                {
                    if (aAvailability.Booked.Equals(false))
                    {
                        <tr>
                            <td>
                                @aAvailability.StartTime.ToShortTimeString()
                            </td>
                            <td>
                                @aAvailability.EndTime.ToShortTimeString()
                            </td>
                            <td>
                                @aAvailability.DayOfWeek
                            </td>
                            @*<td>
                                      <a asp-action="BookTime" asp-route-id="@item.Id">Delete</a>
                                </td>*@
                        </tr>
                    }
                }
            </tbody>
        </table>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Booked Times
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.ArtistEventBookings.Count > 0 || ViewBag.BusinessEventBookings.Count > 0)
                {
                    @foreach (var aEvent in ViewBag.ArtistEventBookings)
                    {
                        <tr bgcolor="red">
                            <td style="color:white;">
                                @aEvent.StartTime.ToShortTimeString()
                            </td>
                            <td style="color:white;">
                                @aEvent.EndTime.ToShortTimeString()
                            </td>
                        </tr>
                    }
                    @foreach (var bEvent in ViewBag.BusinessEventBookings)
                    {
                        <tr bgcolor="red">
                            <td style="color:white;">
                                @bEvent.StartTime.ToShortTimeString()
                            </td>
                            <td style="color:white;">
                                @bEvent.EndTime.ToShortTimeString()
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr bgcolor="green">
                        <td style="color:white;">
                            No Booked Events!
                        </td>
                    </tr>   
                }
             </tbody>
        </table>
    }
    else
    {
        <h4 >No Availabilities currently scheduled...</h4>
    }
</div>
<div>
    <a asp-action="Index">Back to HomePage</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
