@model BookEWebsite.Models.BusinessAvailability

@{
    ViewData["Title"] = "Availabilty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AvailabiltyDetails</h1>

<h4>Add Availability</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <h6 style="color:red">@ViewBag.Error</h6>
        <form asp-action="Availability">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BusinessId" />
            <input type="hidden" asp-for="Recurring" value="true" />
            <div class="avail-starttime">
                <span class="form-group" style="display: flex;">
                    <label>Start Time </label>
                    <select asp-for="StartTimeVM.Hour" class="form-control" asp-items="ViewBag.Hours"></select>
                </span>
                <span class="form-group" style="display: flex;">
                    <label> : </label>
                    <select asp-for="StartTimeVM.Minute" class="form-control" asp-items="ViewBag.Minutes"></select>
                </span>
                <span class="form-group" style="display: flex;">
                    <label> </label>
                    <select asp-for="StartTimeVM.TimeOfDay" class="form-control" asp-items="ViewBag.TimeOfDay"></select>
                </span>
            </div>
            <div class="avail-endtime">
                <span class="form-group" style="display: flex;">
                    <label>End Time </label>
                    <select asp-for="EndTimeVM.Hour" class="form-control" asp-items="ViewBag.Hours"></select>
                </span>
                <span class="form-group" style="display: flex;">
                    <label> : </label>
                    <select asp-for="EndTimeVM.Minute" class="form-control" asp-items="ViewBag.Minutes"></select>
                </span>
                <span class="form-group" style="display: flex;">
                    <label> </label>
                    <select asp-for="EndTimeVM.TimeOfDay" class="form-control" asp-items="ViewBag.TimeOfDay"></select>
                </span>
            </div>
            <div class="form-group">
                <label asp-for="DayOfWeek" class="control-label"></label>
                <select asp-for="DayOfWeek" class="form-control" asp-items="ViewBag.DaysOfWeek"></select>
                <span asp-validation-for="DayOfWeek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<h1>Availability List</h1>
<div class="row">
    <hr />
    @if (Model.BAvailabilitiesList.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.StartTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EndTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DayOfWeek)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Recurring)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.BAvailabilitiesList)
                {
                    <tr>
                        <td>
                            @item.StartTime.ToShortTimeString()
                        </td>
                        <td>
                            @item.EndTime.ToShortTimeString()
                        </td>
                        <td>
                            @item.DayOfWeek
                        </td>
                        <td>
                            @item.Recurring
                        </td>
                        <td>
                            <a asp-action="AvailabilityDelete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h4>No Availabilities currently scheduled...</h4>
    }
</div>
<div>
    <a asp-action="Index">Back to HomePage</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
