@model BookEWebsite.Models.Business

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Specialization)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Specialization)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@Model.Id">Details</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<h1>Artists Looking For Gigs</h1>
<div class="container">
    @if (ViewBag.Artists.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        GroupName
                    </th>
                    <th>
                        Specialization
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Cost Hourly
                    </th>
                    <th>
                        Cost WeekendHourly
                    </th>
                    <th>
                        Location
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Artist artist in ViewBag.Artists)
                {
                    <tr>
                        <td>
                            @artist.GroupName
                        </td>
                        <td>
                            @artist.Specialization
                        </td>
                        <td>
                            @artist.Description
                        </td>
                        <td>
                            $@artist.HourlyCost
                        </td>
                        <td>
                            $@artist.WeekendHourlyCost
                        </td>
                        <td>
                            @artist.Address.City, @artist.Address.State
                        </td>
                        <td>
                            <a asp-action="ArtistOpenings" asp-route-id="@artist.Id">See Availability</a> |
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h3> No Artists Available...</h3>
    }
</div>